@model IEnumerable<biblioteca_en_ASP_NET.Models.Prestamo>
@{
    ViewBag.Title = "Préstamos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Préstamos</h2>

<a href="@Url.Action("Crear","Prestamo")" class="btn btn-success mb-3">Registrar Préstamo</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Libro</th>
            <th>Usuario</th>
            <th>Fecha Préstamo</th>
            <th>Fecha Devolución</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Libro.Titulo</td>
                <td>@p.Usuario.Nombre</td>
                <td>@p.FechaPrestamo.ToShortDateString()</td>
                <td>@p.FechaDevolucion.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
