@model IEnumerable<biblioteca_en_ASP_NET.Models.Libro>
@{
    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros disponibles</h2>

<a href="@Url.Action("Crear", "Libro")" class="btn btn-success mb-3">Agregar Libro</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.Titulo</td>
                <td>@libro.Autor</td>
                <td>@libro.ISBN</td>
                <td>@libro.Cantidad</td>
                <td>
                    <a href="@Url.Action("Editar","Libro", new { id = libro.Id })" class="btn btn-sm btn-primary">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
